AddDefaultCharset UTF-8
DirectoryIndex index.php

Options All -Indexes

#
# set output charset
#
#<IfModule mod_charset.c>
#    CharsetRecodeMultipartForms Off
#    CharsetSourceEnc utf-8
#</IfModule>

<IfModule mod_php4.c>
	php_flag display_errors on
	php_flag register_globals on
	php_flag magic_quotes_gpc on
	php_flag zlib.output_compression on
	php_value output_buffering 0
	php_value allow_call_time_pass_reference on
</IfModule>

ErrorDocument 404 /index.php?action=404&data=404/
 
############
# SECURITY #
###########################################################

<Files "*.ini">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

<Files "*.sql">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>

#####################
# SMART URLs PARSER #
###########################################################

Options +FollowSymLinks
RewriteEngine on

## skip root page
#RewriteRule ^skip/([0-9]{1,15})/?$ index.php?skip=$1&data=______rootpage/skip/$1/ [L]

## search
RewriteRule ^search/?$ index.php?action=search&data=search/ [QSA,L]

## add entry
RewriteRule ^add/?$ index.php?action=add&data=add/ [L]

## rss
#RewriteRule ^rss/?$ rss/entry.xml [L]

## exceptions
RewriteRule ^login/?$ index.php?action=login&data=login/ [L]
RewriteRule ^logout/?$ index.php?action=logout&data=logout/ [L]
RewriteRule ^clearcache/?$ index.php?action=clearc&data=clearcache/ [L]

## dates 
RewriteRule ^([0-9]{4,4})/?$ index.php?year=$1&action=date&part=year&data=$1/ [L]
RewriteRule ^([0-9]{4,4})/([0-9]{2,2})/?$ index.php?year=$1&month=$2&action=date&part=month&data=$1/$2/ [L]
RewriteRule ^([0-9]{4,4})/([0-9]{1,2})/([0-9]{1,2})/?$ index.php?year=$1&month=$2&day=$3&action=date&part=day&data=$1/$2/$3/ [L]

## separate entries with urlcache
RewriteRule ^([0-9]{4,4})/([0-9]{1,2})/([0-9]{1,2})/([-a-z0-9]+)/?$ index.php?year=$1&month=$2&day=$3&action=entry&part=day&data=$1/$2/$3/$4/&getid=true&urlcache=$4 [L]
RewriteRule ^([0-9]{4,4})/([0-9]{1,2})/([0-9]{1,2})/([-a-z0-9]+)/edit/?$ index.php?year=$1&month=$2&day=$3&action=edit&data=$1/$2/$3/$4/edit/&getid=true&urlcache=$4&table=update [L]
#RewriteRule ^([0-9]{4,4})/([0-9]{1,2})/([0-9]{1,2})/([-a-zA-Z0-9_]+)/delete/?$ index.php?year=$1&month=$2&day=$3&action=delete&data=$1/$2/$3/$4/delete/&getid=true&urlcache=$4 [L]

## keywords
RewriteRule ^keyword/?$ index.php?action=keyword&data=keyword/ [L]
RewriteRule ^keyword/([-a-z0-9]+)/?$ index.php?keyword=$1&action=keyword&data=keyword/$1/ [L]

## thumbnail
## QSA для возможных параметров???
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^files/part([0-9]+)/([0-9]+)-([0-9]+)x([0-9]+).(jpg|gif|png)$ index.php?action=thumb&image=$2&ext=$5&width=$3&height=$4 [QSA,L]

# add photo
RewriteRule ^([0-9]{4,4})/([0-9]{1,2})/([0-9]{1,2})/([-a-z0-9]+)/photo/?$ index.php?year=$1&month=$2&day=$3&action=photo&data=$1/$2/$3/$4/photo/&getid=true&urlcache=$4 [L]
RewriteRule ^upload/?$ index.php?action=photo&data=upload/ [QSA,L]

## authors
RewriteRule ^author/?$ index.php?data=author/&action=author [L]
RewriteRule ^author/([-a-z0-9]+)/?$ index.php?data=author/$1/&author=$1&action=author [L]
##RewriteRule ^author/([-a-z0-9]+)/skip/([0-9]{1,15})/?$ index.php?data=$1/skip/$2/&author=$1&action=author&skip=$2 [L]

## design
RewriteRule ^2/?$ index.php?data=2/&action=temp [L]

## section
RewriteRule ^([-a-z0-9_]+)/?$ index.php?data=$1/&section=$1&action=section [L]
RewriteRule ^([-a-z0-9_]+)/skip/([0-9]{1,15})/?$ index.php?data=$1/skip/$2/&section=$1&action=section&skip=$2 [L]

